@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

.nav-link {
  font-size: 1.2rem;
}

.logo a {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  font-family: "Pacifico" !important;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navbar-nav li a {
  color: whitesmoke;
  font-weight: 800 !important;
}

.nav-item a:hover {
  color: #dc3545;
}

.logo a span {
  color: crimson;
  font-family: "Pacifico" !important;
}

.titulos-secundarios {
  font-size: 40px;
  font-weight: 800 !important;
}

.fondo {
  height: 900px;
  background: url(../../data/image/programing1.jpg) center/cover no-repeat fixed;
}

.text1, .nombre, .text2 {
  color: whitesmoke;
  font-size: 4rem;
}

.text3 {
  font-size: 1.2rem;
}

.nombre {
  color: #dc3545;
}

.fondo-about {
  background-color: #0d0d0d;
}

.img-javier {
  height: 70%;
  border-radius: 30px;
}

#titulo-about {
  color: whitesmoke;
}

.fondo-fa {
  color: whitesmoke;
}

.description {
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: justify;
}

.cv {
  font-size: 1.5rem;
}

.descarga {
  font-size: 2rem;
}

@media (min-width: 1000px) and (max-width: 1920px) {
  .fondo-about {
    height: 900px;
  }
}
@media (max-width: 1300px) {
  .cv {
    margin-bottom: 30px;
  }
}
.trabajo {
  font-size: 1.5rem;
}

.proyecto {
  color: crimson;
}

.experience {
  border-radius: 3%;
  min-height: 755px;
}
.experience__textHolder {
  text-align: center;
}
.experience__title {
  font-size: 25px;
  font-weight: 25px;
}
.experience__container {
  display: flex;
  justify-content: space-around;
}
.experience__iconNtitle:hover {
  color: #8b72af !important;
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}
.experience__iconNtitle p {
  margin-bottom: 0;
  font-size: 18px;
}
.experience__iconNtitle img {
  width: 25px;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .experience__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .experience__container div {
    padding: 5px 0;
  }
}
.containerTimeline {
  /* width: 80%; */
  padding: 0 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  min-height: 423px;
}
.containerTimeline:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  margin-left: -1px;
  width: 1.5px;
  height: 71%;
  background: #c1c1c1;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #dc3545;
  margin-top: 3px;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}
.timeline-content p:nth-child(1) {
  margin-bottom: -2px;
  font-size: 15px !important;
  font-weight: 500;
  color: black;
}
.timeline-content span {
  font-size: 14px;
  color: #666;
}
.timeline-content p {
  font-size: 13px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
  margin-bottom: 0;
}

.timeline-content--waypoint p:nth-child(1) {
  font-size: 17px !important;
}
.timeline-content--waypoint span {
  font-size: 17px;
  color: #8b72af;
}
.timeline-content--waypoint a {
  text-decoration: transparent;
  color: black;
}

#workTimeline .timeline-content p {
  font-size: 13.5px;
}

.containerTimeline--work:before {
  height: 73% !important;
}

.timeline-text {
  color: #353232 !important;
}

@media screen and (max-width: 768px) {
  .containerTimeline:before {
    left: 8px;
    width: 2px;
  }
  .containerTimeline--work:before {
    height: 82% !important;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
.skills {
  background-color: #0d0d0d;
  min-height: 100%;
}

.parrafo-habilidades, .text-lenguaje {
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: justify;
}

.title-fadein {
  color: whitesmoke;
}

.text-lenguaje {
  font-size: 1rem;
}

@media (max-width: 799px) {
  .skills {
    max-height: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1920px) {
  .skills {
    height: 800px;
  }
}
.projects-button {
  width: 40% !important;
  margin-left: 20px;
}

.caja-tags {
  background-color: rgba(0, 0, 0, 0.548);
}

.tags {
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  grid-template-rows: 210px 250px 20px;
  background: #1d1d1d;
  color: white;
  text-align: justify;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-image {
  grid-area: image;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, #1d1d1d 100%), url("img1.jpg");
}

@media (min-width: 700px) and (max-width: 1920px) {
  .tamaño {
    width: 50%;
    height: 50%;
  }
}
.titulo-footer {
  color: whitesmoke;
  font-weight: 200;
  margin: 0px auto;
}

.copy-footer {
  color: whitesmoke;
  font-weight: 100;
  margin: 0;
}

.copyright {
  background-color: #0d0d0d;
}

.fondo-footer {
  background-color: #0d0d0d;
}

@media (min-width: 300px) and (max-width: 600px) {
  .fondo-footer {
    max-width: 100%;
    min-width: 100%;
  }
}
@media (min-width: 1000px) and (max-width: 1920px) {
  .fondo-footer {
    height: 600px;
  }
}
.card-footer {
  width: 13rem;
  background-color: rgba(10, 10, 10, 0);
  cursor: pointer;
}

.card-img-foo {
  width: 7rem;
  margin: 0px auto;
}

.card-footer:hover {
  border: 2px solid;
  border-color: red;
  transition: 0.5s;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-texto {
  color: whitesmoke;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
