@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

.color1 {
  background-color: #0d0d0d;
}

.nav-link {
  color: whitesmoke !important;
  font-size: 1.2rem;
}

.titulos-secundarios {
  font-size: 40px;
  font-weight: 500 !important;
}

.fondo {
  height: 900px;
  background: url(../../data/image/img-header.jpg) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.text1, .text2 {
  color: whitesmoke;
  font-size: 2rem;
}

.nombre {
  color: red;
}

.fondo__about {
  height: 650px;
  background-color: ffffff;
}

.img-javier {
  height: 70%;
  border-radius: 30px;
}

.description {
  font-size: 1.5rem;
}

.cv {
  font-size: 1.5rem;
}

.descarga {
  font-size: 2rem;
}

.trabajo {
  font-size: 1.5rem;
}

.experience {
  border-radius: 3%;
  min-height: 755px;
}
.experience__textHolder {
  text-align: center;
}
.experience__title {
  font-size: 25px;
  font-weight: 25px;
}
.experience__container {
  display: flex;
  justify-content: space-around;
}
.experience__iconNtitle:hover {
  color: #8b72af !important;
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}
.experience__iconNtitle p {
  margin-bottom: 0;
  font-size: 18px;
}
.experience__iconNtitle img {
  width: 25px;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .experience__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .experience__container div {
    padding: 5px 0;
  }
}
.containerTimeline {
  /* width: 80%; */
  padding: 0 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  min-height: 423px;
}
.containerTimeline:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  margin-left: -1px;
  width: 1.5px;
  height: 71%;
  background: #c1c1c1;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #8b72af;
  margin-top: 3px;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}
.timeline-content p:nth-child(1) {
  margin-bottom: -2px;
  font-size: 15px !important;
  font-weight: 500;
  color: black;
}
.timeline-content span {
  font-size: 14px;
  color: #666;
}
.timeline-content p {
  font-size: 13px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
  margin-bottom: 0;
}

.timeline-content--waypoint p:nth-child(1) {
  font-size: 17px !important;
}
.timeline-content--waypoint span {
  font-size: 17px;
  color: #8b72af;
}
.timeline-content--waypoint a {
  text-decoration: transparent;
  color: black;
}

#workTimeline .timeline-content p {
  font-size: 13.5px;
}

.containerTimeline--work:before {
  height: 73% !important;
}

.timeline-text {
  color: #353232 !important;
}

@media screen and (max-width: 768px) {
  .containerTimeline:before {
    left: 8px;
    width: 2px;
  }
  .containerTimeline--work:before {
    height: 82% !important;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
.skills {
  height: 600px;
}

.projects-button {
  width: 40% !important;
  margin-left: 20px;
}

.caja-tags {
  background-color: rgba(0, 0, 0, 0.548);
}

.tags {
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
}

.titulo-footer {
  color: whitesmoke;
  font-weight: 200;
}

.copy-footer {
  color: whitesmoke;
  font-weight: 100;
  margin: 0;
}

.copyright {
  background-color: #0d0d0d;
}

.fondo-footer {
  background-color: #0d0d0d;
  height: 400px;
}

.card-footer {
  width: 12rem;
  background-color: rgba(10, 10, 10, 0);
  cursor: pointer;
}

.card-footer:hover {
  border: 2px solid;
  border-color: red;
  transition: 0.5s;
}

.footer-texto {
  color: whitesmoke;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
