.fondo__about {
    height: 650px;
    background-color: ffffff;
}
.img-javier{
    height: 70%;
    border-radius: 30px;
}

.description {
    font-size: 1.5rem;
}
.cv{
    font-size: 1.5rem;
}
.descarga{
    font-size: 2rem;
}
