
.card-footer{
    width: 13rem;
    background-color: #0a0a0a00;
    cursor: pointer;
    // opacity: 4;
}
.card-img-foo {
    width: 7rem;
    margin: 0px auto;
}
.card-footer:hover{
    border: 2px solid;
    border-color: red;
    transition: 0.5s;
  }
.footer-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-texto {
    color: whitesmoke;
    font-weight: bold;
}