.titulo-footer {
    color:whitesmoke;
    font-weight: 200;
    margin: 0px auto;
}

.copy-footer {
    color:whitesmoke;
    font-weight: 100;
    margin: 0;
}
.copyright {
    background-color: $color-secundary
}
.fondo-footer {
    background-color: $color-secundary;
}
@media (min-width: 300px) and (max-width: 600px){
    .fondo-footer{
        max-width: 100%;
        min-width: 100%;
    }
}
@media (min-width: 1000px) and (max-width: 1920px){
    .fondo-footer{
        height: 600px;
    }
}