.titulo-footer {
    color:whitesmoke;
    font-weight: 200;
}

.copy-footer {
    color:whitesmoke;
    font-weight: 100;
    margin: 0;
}
.copyright {
    background-color: $color-secundary
}
.fondo-footer {
    background-color: $color-secundary;
    height: 400px;
}