.projects-button {
    width: 40% !important;
    margin-left: 20px;
}
.caja-tags {
    background-color: rgba(0, 0, 0, 0.548);
}
.tags {
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
}